/** Responsive Styles **/

@media screen and (min-width: 500px) {
  article {
    border: 25px solid $blue;
    margin: 25px auto;
    padding: 25px 25px 0 25px;
  }

  #logo {
    width: 400px;
  }
}
