@import "normalize";
@import "helpers";
@import "colors";
@import "fonts";

html {
  background: $bg url(../images/bg.png);
  color: $text;
  font-size: 0.8725em;
  font-family: Tahoma, Helvetia, Arial, sans-serif;
  line-height: 1.5em;
}

a {
  color: $link;
  text-decoration: none;
}

span.heart {
  color: $heart;
}

.error {
  color: $error;
}

.warning {
  color: $warning;
}

article {
  max-width: 500px;
  background: #fff;
  padding: 5%;
  border-bottom: 25px solid $blue;
}

hr {
  border: 0;
  border-bottom: 1px solid rgba($blue, 0.5);
}

h2, h3, h4, label, p.tagline {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.25em;
}

article > h1, article > h2 {
  margin-top: 0;
}

p.tagline {
  font-size: 1.75em;

}

form {
  @extend .clearfix;
}

input {
  border: 3px solid $blue;
  width: 60%;
  float: left;
  height: 30px;
  padding: 5px;
}

button {
  float: left;
  background-color: $blue;
  color: #fff;
  border: 0;
  padding: 5px 10px;
  width: 35%;
  height: 30px;
  margin-left: 10px;
}

ul.imagelist {
  @extend .clearfix;
  padding: 0;
  li {
    float: left;
    display: inline-block;
    margin-right: 10px;
    width: 126px;
    img {
      width: 126px;
    }
  }
  li:last-child {
    margin-right: 0;
  }
}

ul.team, ul.sponsoren, ul.partner {
  @extend ul.imagelist;
}

ul.speaker {
  @extend ul.imagelist;
  li {
    img {
      width: 58px;
    }
  }
}

ul.links {
  list-style: none;
  padding: 0;
}

#logo {
  width: 100%;
}

footer {
  font-size: 0.75em;
  color: $footer;
  text-shadow: 0 0 1px #fff;
  text-align: center;
  a {
    color: $footer;
    text-decoration: underline;
  }
  line-height: 1em;
}

article.talk, article.user {
  img.user {
    width: 150px;
    float: right;
    margin-left: 10px;
  }
}

article.important {
  color: $warning_text;
  input {
    border-color: $warning;
  }
  button {
    background-color: $warning;
    color: $text;
  }
}

// http://codepen.io/herzflimmern/pen/uFrlk
.loading {

  $loading_hei: 24px;
  $border_width: 3px;

  $loading_wid: 100%;

  background-color: darken($bg, 5);

  width: $loading_wid;
  border: $border_width solid $warning;
  overflow: hidden;
  padding: $border_width;

  .inner {
    position: relative;
    width: 10%;
    height: $loading_hei;
    background: $warning;
  }
}

.messages {
  width: 100%;
  max-width: 500px;
  margin: 1em auto;
  .message {
    background-color: $warning;
    color: $warning_text;

    padding: 0.25em;
    font-size: 0.875em;
    font-weight: bold;
  }

}

@import "responsive";

