{% form_theme form 'WEMOOFWebBundle:Form:fields.html.twig' %}
{% if not signup %}
    <p>Du möchtest am ersten oder an folgenden Webmontagen teilnehmen? Dann trag' dich für den Newsletter ein.</p>

    <form method="POST" action="{{ path("wemoof_signup", {"id": event.id}) }}" class="clearfix">
        {{ form_widget(form) }}
        <button type="submit">Eintragen</button>
    </form>

    <p>
        <small>Ich werden deine E-Mail-Adresse nicht an Dritte weitergeben.</small>
    </p>
{% else %}
    <p>Danke! Ich melde mich!</p>
{% endif %}