{% set body_class = "compact" %}
{% extends "WEMOOFWebBundle::page.html.twig" %}
{% set meta_title %}Kontakt | WEMO♥F{% endset %}
{% block content %}
    <article class="page">
        <h1>
            <a href="/">
                <img src="{{ asset('bundles/wemoofweb/images/logo-m-wide.png') }}" alt="WEMO♥OF &ndash; Webmontag Offenbach" id="logo"/>
            </a>
        </h1>

        <h2>Kontakt</h2>

        <p>Der Webmontag Offenbach wird organisiert von <a href="http://cto.hiv/" rel="author">Markus Tacker</a>. Du
            erreichst mich via Mail unter <a href="mailto:m@wemoof.de">m@wemoof.de</a>.</p>

        {% include "WEMOOFWebBundle:Web:part/socialmedia.html.twig" %}

    </article>
{% endblock %}
