{% extends "WEMOOFWebBundle::page.html.twig" %}
{% set meta_title %}Mein Dashboard | WEMO♥F{% endset %}
{% block content %}
    <article class="dashboard">
        <h1>
            <a href="/">
                <img src="{{ asset('bundles/wemoofweb/images/logo-m-wide.png') }}" alt="WEMO♥OF &ndash; Webmontag Offenbach" id="logo"/>
            </a>
        </h1>

        <h2><strong>Hallo {{ user }}</strong>,<br>schön dich zu sehen!</h2>

        <h3>Zum Webmontag anmelden</h3>
        {% for e in registerableEvents %}
            {{ e.name }}
        {% else %}
            <p>Aktuell kannst Du dich leider zu keinem weiteren Webmontag anmelden.</p>
        {% endfor %}


        <h3>Sonstiges</h3>

        <p>
            <a href="{{ path("wemoof_logout") }}">Logout</a>
        </p>

    </article>
{% endblock %}