{% extends "WEMOOFWebBundle::page.html.twig" %}
{% set meta_title %}Login | WEMO♥F // Webmontag Offenbach{% endset %}
{% set meta_image %}{{ asset('bundles/wemoofweb/images/logo-noborder-xxl.png') }}{% endset %}
{% block content %}
    <article class="login">
        <h1>
            <a href="/">
                <img src="{{ asset('bundles/wemoofweb/images/logo-m-wide.png') }}" alt="WEMO♥OF &ndash; Webmontag Offenbach" id="logo">
            </a>
        </h1>

        <h2>Login</h2>

        <p>Bitte melde dich mit deiner E-Mail-Adresse an. Du erhältst dann eine E-Mail mit einem einmaligen
            Login-Link.</p>

        {% form_theme form 'WEMOOFWebBundle:Form:fields.html.twig' %}
        <form method="POST" action="{{ path("wemoof_register") }}" class="clearfix oneline">
            {{ form_widget(form) }}
            <button type="submit">Login anfordern</button>
        </form>
    </article>
{% endblock %}
